html,
body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

main {
    position: relative;
    top: 5%;
    left: 25%;
    width: 50%;
    height: 30%;
}

.hat-box {
    width: 100%;
    height: 30%;
}

.hat-txt {
    text-align: center;
    text-transform: uppercase;
}

.music-player {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    border: 10px outset rgb(175, 82, 0);
}

.box-footer {
    height: 100px;
    width: 100%;
}



.txt-footer {
    height: 100%;
    top: 200%;
    width: 100%;
    text-align: center;
    color: rgb(71, 71, 71);
    position: relative;
    font-size: 20px;
    text-transform: uppercase;
    transition: 0.2s ease;
    border-top: 2px solid black;
    background-image: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);
    cursor: pointer;
}


.txt-footer:hover {
    color: rgb(0, 0, 0);
    transform: scale(1.2);
}

